@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Where to Meet - Home page</title>

    <link rel="icon" type="image/png" href="iconapp.png" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<style>
    html, body
{
    width: 100%;
    height: 100%;
}
body
{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
    #main {
        width: 100%;
        height: 100%;
        background-color: #ffd54f;
        background-repeat: repeat-x;
        background-attachment: fixed;
        /* Section background anim */
        background: linear-gradient(271deg, #7cb342, #ffd54f);
        background-size: 400% 400%;
        -webkit-animation: wheretomeet-gradient 14s ease infinite;
        -moz-animation: wheretomeet-gradient 14s ease infinite;
        -o-animation: wheretomeet-gradient 14s ease infinite;
        animation: wheretomeet-gradient 14s ease infinite;
    }
     @@-webkit-keyframes wheretomeet-gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        @@-moz-keyframes wheretomeet-gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        @@-o-keyframes wheretomeet-gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        @@keyframes wheretomeet-gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }
    .welcomeMessage
    {
        color: white;
        font-size: 100px;
        font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        vertical-align: middle;
        position: relative;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        text-shadow: 0 0 6px #000000;
    }
    .welcomeMessage > p
    {
        color: inherit;
        font-size: 25px;
        font-family: inherit;
    }
    .welcomeMessage > .btn
    {
        text-shadow: initial;
        margin-left: 30%;
        color: white;
    }
    .appName
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:#558b2f ;
        
        text-shadow: none;
    }


</style>
</head>
<body id="main">
        <div class="welcomeMessage">
            <center><img style="border-radius:50%;height:300px;width:300px;" src="~/iconapp.png" alt="" /></center>
            <center class="">Where To Meet<span style="font-style:italic">?</span></center>
    <p>Welcome 😊. This is the web API of the <span style="font-style:italic">Where to Meet?</span> project. </p>

            <p>The releases can be found here: </p>
            <a target="_blank" class="waves-effect waves-light btn btn-large amber darken-3"
               href="https://github.com/ChristopherJdL/wheretomeet-android/releases"><i class="fa fa-github" aria-hidden="true"></i> Releases</a>

           <p> This project should be tested using the test profile described here:</p>
            <a target="_blank" class="waves-effect waves-light btn btn-large amber darken-2"
               href="https://github.com/ChristopherJdL/wheretomeet-server/blob/master/WhereToMeet/Test_Profile.md"><i class="fa fa-github" aria-hidden="true"></i> Test Profile </a>
    <p>To see the documentation, please click on that button:</p>
            <a target="_blank" class="waves-effect waves-light btn btn-large light-green darken-2"
               href="https://github.com/ChristopherJdL/wheretomeet-server/blob/master/WhereToMeet/Documentation.md"><i class="fa fa-github" aria-hidden="true"></i> Documentation</a>
    </div>
</body>
</html>